@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
	cursor:url(../media/arrow.cur), auto;
}

body {
  background: url(https://st.mngbcn.com/static/assets/img/landings/blackFriday/black_shop.jpg) no-repeat center center fixed;
  font-family: 'Inconsolata', monospace;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-weight: bold;
  color: #FFFFFF;
  /*text-shadow: 1px 1px 0px rgba(8,230,255,100), -1px -1px 0px rgba(255,0,0,100);*/
}

 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

p {
    text-align: center;
    font-family: monospace;
}

pre {
    text-align: center;
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #F78686; /*pink because im gay LAWL*/
}

#marquee {
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -3px;
}

#center {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
